@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-mono: "Source Code Pro", monospace;
  --font-sans: "Geist", "Geist Fallback", Arial, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;    
  
  --shadow-xs: 2px 2px 0px 0px var(--color-gray-900);
  --shadow-sm: 3px 3px 0px 0px var(--color-gray-900);
  --shadow-md: 4px 4px 0px 0px var(--color-gray-900);
  --shadow-lg: 6px 6px 0px 0px var(--color-gray-900);
  --shadow-xl: 8px 8px 0px 0px var(--color-gray-900);
}


